#welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}


#frames {
    display: flex;
    justify-content: flex-start; /* Align items to the start of the container */
    padding: 10px;
    margin: 30px;
}

#ascii {
    width: 60; /* Set a width for the divs */
}

pre {
    padding: 10px;
    margin: 10px;
    max-height: calc(100vh - 60px); /* Viewport height minus total vertical margin */
    max-width: calc(100vw - 60px); /* Viewport width minus total horizontal margin */
    /* overflow: auto; Add scrollbars if the content is too large */
    font-size: 0.8em;
    width: max-content;
    
}
#caption {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100%; /* Full height of the parent */
}

#caption p {
    color: #333;
    font-size: 1.5em;
    font-weight: normal;
    text-align: center;
    margin: 20px 0;
}